

#container {
    display:grid;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.card {
    display: grid;
    flex-direction: column;
    width: 230px;
    height: 260px;
    text-align: center;
    background-color: blanchedalmond;
    border: solid 2px black;
    margin: 5px;
    top: 40px;
    padding: 25px 12px;
    position: relative;
}

.cardTitle {
    font-size: 18px;
    font-weight: bold;
    height: fit-content;
    margin: auto;
}

.cardAuthor {
    font-size: 15px;
    height: fit-content;    
    margin: 2%;
    margin-bottom: 40px;
}

.cardPages, .cardReadStatus {
    font-size: 15px;
    height: fit-content;
    width: max-content;
    margin-top: -20px;
}

.removeBtn {
    width: 18px;
    height: 18px;
    color: black;
    font-size: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3px;
    right: 3px;
    background-color: transparent;
    outline: none;
}

* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

/* Button used to open the contact form - fixed at the top of the page */
.open-button {
    background-color: blanchedalmond;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 20px;
    border: solid 2px black;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: blanchedalmond 2px solid;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #49a14c;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: rgb(221, 46, 46);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}
/*
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}*/

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
  
#switchtitle {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.toggleDiv {
    width: 20px;
    height: 20px;
    margin-left: 140px;
    margin-bottom: 30px;
}

.toggleText {
    width: fit-content;
    width: -moz-fit-content;
    height: 30px;
    padding-top: 5px;
    font-size: 15px;
    margin-bottom: -40px;
}

/* The switch - the box around the slider */
.switchsmall {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 20px;
}

/* Hide default HTML checkbox */
.switchsmall input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slidersmall {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slidersmall:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slidersmall {
    background-color: #2196F3;
}
/*
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}*/

input:checked + .slidersmall:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slidersmall.roundsmall {
    border-radius: 34px;
}

.slidersmall.roundsmall:before {
    border-radius: 50%;
}
